.rectangle {
    position: fixed;
    width: 100vw;
    background-color: #ffffff;
    z-index: 100;
}

.web-header {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navigation  li {
    float: left;
  }
  
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
  }

@media (min-width: 320px) {
    .rectangle {
        height: 32px;
        border-bottom: 2px solid rgb(150, 0, 255);
    }

    .web-header {
        width: 67px;
    }
}

@media (min-width: 768px) {
    .rectangle {
        height: 56px;
        border-bottom: 4px solid rgb(150, 0, 255);
    }

    .web-header {
        width: 118px;
    }
}

@media (min-width: 992px) { 
    .rectangle {
        height: 56px;
    }
}

@media (min-width: 1200px) {
    .rectangle {
        height: 56px;
    }
}