.news {
    position: relative;;
    top: 30px;
    padding-bottom: 100px;
}

.news .container {
    padding-top: 56px;
}

.news .container a{
    color: white;
    text-decoration: none;
}

.news-head-main {
    margin: 0 auto;
    padding-top: 56px;
    font-size: 3rem;
}

.news-head {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .news-head-main {
        font-size: 4.5rem;
    }
}